<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://resizing.flixster.com/jTU4RAjnwcZAconup5QZkH2Emb8=/206x305/v2/https://flxt.tmsimg.com/assets/p170620_p_v8_az.jpg" alt="" height="200px">
    </div>

    <a href=""></a>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor imperdiet nunc, id luctus ipsum. Curabitur tempus velit in arcu tincidunt elementum. Fusce quis velit vel diam rutrum facilisis et quis orci.
        </a></p>
    </div>
</div>